#header {
   position: absolute;
   z-index: 5;
   top:0;
   left: 0;
   width: 100%;
   background-color:#00bfff;
   height:70px;
   -webkit-box-shadow: 0 10px 26px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.38);
   box-shadow: 0 10px 26px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.38);
}

.logo h2 {
   padding-left: 20px;
   padding-right: 20px;
   margin-top: 10px;
   margin-bottom:10px;
   padding-top: 10px;
   padding-bottom:10px;
   float: left;
   border-right:1px solid #fff;
}

.logo span {
   float: left;
   padding-top:26px;
   padding-bottom:26px;
   padding-left: 25px;
   font-weight: bold;
}

#header .buttons-list {
   float:right;
}

#header .header-button {
   padding:25px;
   float:right;
   background-color:#00bfff;
   cursor: pointer;
   transition: background-color ease 300ms;
}

#header .header-button:hover {
   background-color: #0098cc;
}