
@font-face {
    font-family: 'quicksand';
    src: url("Quicksand/Quicksand-Light.ttf") format('truetype');
}

*{
    font-family: quicksand;
}

#header {
   position: fixed;
   z-index: 5;
   top:0;
   left: 0;
   width: 100%;
   background-color:#4897d8;
   height:70px;
   color: white;
}

.logo:hover{
   cursor: pointer;
}

.logo h2 {
   padding-left: 20px;
   padding-right: 20px;
   margin-top: 10px;
   margin-bottom:10px;
   padding-top: 10px;
   padding-bottom:10px;
   float: left;
   border-right:1px solid #fff;
}

.logo span {
   float: left;
   padding-top:26px;
   padding-bottom:26px;
   padding-left: 25px;
   font-weight: bold;
}

#header .buttons-list {
   float:right;
}

#header .header-button {
   padding:25px;
   float:right;
   background-color:#4897d8;
   cursor: pointer;
   transition: background-color ease 300ms;
}

#header .header-button:hover {
   background-color: #6cabdf;
}

#side-bar {
   position: fixed;
   overflow: auto;
   width: 12em;
   height:90%;
   top: 70px;
   left: 0;
   background-color: #7eb6e3;
   border-right: 1px solid #dcdcdc;
   z-index: 4;
}

#side-bar-contents ul{
   list-style-type: none;
   margin:0;
   margin-top:0px;
   padding:0;
}

#side-bar-contents ul li {
   padding:15px;
   text-align: center;
}

#side-bar-contents ul li.selection-list-title {
   font-weight: bold;
}

#side-bar-contents ul li.selection-list {
   border-bottom: 1px solid #4897d8;
   background-color: #7eb6e3;
   cursor: pointer;
   transition: background-color ease 300ms;
}

#side-bar-contents ul li.selection-list:hover {
   background-color: #97C4E8;
}


