body {
  background-color: #eaeaea;
}

.content {
  position: absolute;
  top: 130px;
  left: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(96% - 13em);
  height: calc(96% - 30px);
}

.content-text {
  text-align: center;
}

.top-bar {
  margin-left:15em;
  width:83%;
  height: 38px;
  margin-top: 15px;
  /* border: 1px solid #000; */
}
.top-bar .top-col {
  float:left;
  /* border: 1px solid #000; */
  width:33.33%;
}

.button {
  background-color: #0099ce;
  display: inline-block;
  cursor: pointer;
  padding:10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  color: #fff;
}
.button:hover {
  background-color: #0089b9;
}

.center-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reportleft, .reportright {
  overflow: auto;
  top: 10;
  margin-left: 3%;
  width: 47%;
  height: 100%;
  padding: 15;
  /* padding-top:0;
  padding-bottom:0; */
  float: left;
  font-size: 15px;
  display: block;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0 10px 26px 0 rgba(0, 0, 0, 0.4),
    0 6px 20px 0 rgba(0, 0, 0, 0.38);
  box-shadow: 10px 10px 26px 0 rgba(0, 0, 0, 0.4),
    0 6px 20px 0 rgba(0, 0, 0, 0.38);
  z: 5;
}

.line {
  display: block;
  height: 1em;
  padding: 0.1em 0 0.1em 1em;
  color:#000;
  text-decoration: none;
}

.line:nth-child(2n-1){
  background-color: #eaeaea;
}

.line:hover{
  color:#000;
  text-decoration: none;
  cursor: defualt;
}

.linkline{
  background-color: #F55;
}

.linkline:nth-child(2n-1){
  background-color: #F44;
}

.linkline:hover{
  background-color: #F33;
}

.line pre{
  margin: 0;
}

ul.report-display {
  margin: 0;
  padding: 0;
}
ul.report-display li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}