<html>  
    <head>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/selection-list.css">
        <script type="text/javascript" src="js/course-list.js"></script>
        <script type="text/javascript" src="js/assignment-list.js"></script>
        <script type="text/javascript" src="js/data.js"></script>
        <script type="text/javascript">
            window.onload = function () {
                buildSideCourseList();
                buildAssignmentList();
            }
        </script>
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/jquery.cookie.js"></script>  
    </head>

    <div id="side-bar">
        <div id="side-bar-contents">
            <div class="title">
                <h1>WaterFern</h1>
                <h2>Professor</h2>
            </div>
            <ul id="side-list">
                <li class="selection-list-title">COURSE LIST</li>
                <li id="assignmentPage" class="selection-list" style="border-top: 1px solid #0085b2;">COSC 1P02</li>
                <li id="assignmentPage" class="selection-list">COSC 1P03</li>
                <li id="assignmentPage" class="selection-list">COSC 2P03</li>
                <li id="assignmentPage" class="selection-list">COSC 2P05</li>
            </ul>
        </div>
    </div>

    <div class="content">
        <div class="content-text">
            <div id="assign-contents">
                <ul id="assign-list">
                    <!-- <li id="studentAssignments">Assignment 1</li> -->
                </ul>
            </div>
        </div>
    </div>

</html>