<html>
    <head>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/home.css">
        <script type="text/javascript" src="js/course-list.js"></script>
        <script type="text/javascript" src="js/data.js"></script>
        <script type="text/javascript">
            window.onload = function () {
                buildSideCourseList();
                $.cookie("courseId", 0, {
                    expires : 10,
                    path    : '/'
                });
                $.cookie("assign", 0, {
                    expires : 10,
                    path    : '/'
                });
            }
           
        </script>
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/jquery.cookie.js"></script>
    </head>

    <div id="side-bar">
        <div id="side-bar-contents">
            <div class="title">
                <h1>WaterFern</h1>
                <h2>Professor</h2>
            </div>
            <ul id="side-list">
                <li class="selection-list-title">COURSE LIST</li>
                <li id="assignmentPage" class="selection-list" style="border-top: 1px solid #0085b2;">COSC 1P02</li>
                <li id="assignmentPage" class="selection-list">COSC 1P03</li>
                <li id="assignmentPage" class="selection-list">COSC 2P03</li>
                <li id="assignmentPage" class="selection-list">COSC 2P05</li>
            </ul>
        </div>
    </div>

    <div class="content">
        <div class="content-text">
            <h3 id="welcome-message">Welcome to WaterFern, this application was built to help ease your navigation of assignments, courses, students and more.</h3>

            <form action='/api/v1/uploadsubmission' method='POST' enctype='multipart/form-data'>
                <!--User ID is a users ID number in the DB-->
                User ID: <input type='textbox' name='uID' value = '0'/><br>
                <!--An assignment ID identifies an assignment associated with a specific offering-->
                Assingment ID:<input type='textbox' name='aID' value = '0'/><br>

                Bulk Upload (True or False):<input type='textbox' name='bulkUpload' value = 'False'/>
                <input type='submit' value='Submit' />
                <input type='file' accept='.zip' name = "file" id='uploadbar' />
              </form>
        </div>
    </div>

</html>