<html>
   <head>
      <title>WaterFern - Login</title>
      <link rel="stylesheet" href="css/login.css" type="text/css">
      <link rel="stylesheet" href="css/input.css" type="text/css">
   </head>
   <body>
      <div class="bg-image"></div>
      <div class="holder">
         <div class="middle-box">
            <div class="things">
            <form method="POST" action='/api/v1/login'>
               <!--<div class="logo-container"><center>
                  <img src="pictures/logo.png">
               </center></div></p>-->
               <div class="title">
                 <p>WaterFern</p>
               </div>
               <input type="textbox" autofocus="on" placeholder="Login" class="login-inputxt" name='uID'></p>
               <input type="password" placeholder="Password" class="login-inputxt" name='pWord'></p>
               <input type="checkbox" value="remember-me">Remember me</p>
               <input type="submit" value="Login" class="login-submit">
            </form>
         </div>
         </div>
      </div>
   </body>
</html>