<html>
    <head>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/reportViewer.css">
        <script type="text/javascript" src="js/submission-list.js"></script>
        <script type="text/javascript" src="js/report-viewer.js"></script>
        <script type="text/javascript" src="js/data.js"></script>
        <script type="text/javascript">
            window.onload = function () {
                buildSideSubmissionsList();
                displaySubmissionA();
            }
        </script>
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/jquery.cookie.js"></script>

    </head>

    <div id="header">
        <div class="logo" onclick="window.open('home.html', '_self');">
        <h2>WaterFern</h2> <span>Professor</span>
        </div>
        <div class="buttons-list">
        <div class="header-button">
            Logout
        </div>
        </div>
    </div>

    <div id="side-bar">
        <div id="side-bar-contents">
            <ul id="side-list">
                <li id="assignmentPage" class="selection-list">Back</li>
                <li class="selection-list-title">Similar Blocks</li>
                <li class="selection-list">Change this</li>
                <li class="selection-list">to list of</li>
                <li class="selection-list">files</li>
                <li class="selection-list">Code Block 4</li>
            </ul>
        </div>
    </div>

    <div class="content">
        <div class="reportleft" id="reportleft"></div>
        <div class="reportright" id="reportright">
            <div class="content-text"><h3>Select a submission from the left to compare.</h3></div>
        </div>
    </div>

</html>