#side-bar {
    position: absolute;
    width: 17%;
    height:90%;
    top: 70px;
    left: 0;
    background-color: #00abe5;
    z-index: 4;
    -webkit-box-shadow: 0 10px 26px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.38);
    box-shadow: 0 10px 26px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.38);
 }
 
 #side-bar-contents ul{
    list-style-type: none;
    margin:0;
    margin-top:10px;
    padding:0;
 }
 
 #side-bar-contents ul li {
    padding:15px;
    text-align: center;
 }
 
 #side-bar-contents ul li.selection-list-title {
    font-weight: bold;
 }
 
 #side-bar-contents ul li.selection-list {
    border-bottom: 1px solid #0085b2;
    background-color: #00abe5;
    cursor: pointer;
    transition: background-color ease 300ms;
 }

 #side-bar-contents ul li.back-button {
    background-color: #00abe5;
    cursor: pointer;
    transition: background-color ease 300ms;
 }
 
 #side-bar-contents ul li.selection-list:hover {
    background-color: rgba(0,133,179, 0.5);
 }

 #side-bar-contents ul li.back-button:hover {
    background-color: rgba(0,133,179, 0.5);
 }